# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Chrome extension private key & build
*.pem
*.crx

# Scratch & Logs
*.log
scratch/
